<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>

<div class ="container text-center">
    <div><h2>Manage Users</h2></div>
    <a class="h3" th:href="@{/user/new}">Add New User</a>
    <div class="mr-4">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th> </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${listUser}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.firstName}]]</td>
                    <td>[[${user.lastName}]]</td>
                    <td>
                        <a class="h4 mr-3" th:href="@{'/user/edit' + ${user.id}}">Edit</a>
                        <a class="h4 mr-3" th:href="@{'/user/delete' + ${user.id}}">Delete</a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>
