<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>
	<section>
		<h1>This is new about section</h1>
		<p>	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa autem totam amet!
		 	Dignissimos recusandae delectus ipsa quibusdam quas quod consectetur quae voluptatum 
		 	laudantium deserunt facilis eveniet eos quasi temporibus amet reiciendis harum exercitationem explicabo 
		 	repellat quam. Nam accusantium quae 
			nobis ipsum adipisci illo enim nesciunt culpa quibusdam quia officia nihil?</p>
	</section>
</body>
</html>