<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Conditional statement in thymeleaf</title>
</head>
<body>
	<h1>Conditional statement in thymeleaf</h1>
	<h1>User is <span th:style="${isActive}?'color:red':'color:green'" th:text="${isActive}? 'ACTIVE':'NOT ACTIVE'"></span></h1>
	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	<div th:switch="${#lists.size(mylist)}">
		<h1 th:case="'0'">List contain Zero elemant</h1>
		<h1 th:case="'1'">List contain One elemant</h1>
		<h1 th:case="*">List contain More than one elemant</h1>
	</div>
</body>
</html>