<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Footer Template</title>
</head>
<body>
	<footer id="fragmentTag" th:fragment="footer1">
		<div class="container">
			<h1>This is 1</h1>
			<h1>This is 2</h1>
			<h1>This is 3</h1>
			<h1>This is 4</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi deserunt labore magnam consequuntur distinctio quos blanditiis nulla accusantium debitis recusandae perspiciatis cum in ratione ad ex necessitatibus sit dolorum quae aliquid. Exercitationem nobis expedita voluptas omnis voluptates sunt libero beatae illo at. Consectetur repellendus earum pariatur praesentium fuga ullam.</p>
		</div>
	</footer>
</body>
</html>